body{
    margin: 0px;
    padding: 0px;
    font-family: "Space Grotesk", serif;
}
h1{
    font-family: "Michroma", serif;
}
.navbar-expand-md .navbar-nav .nav-link{
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
}
.navbar-nav.me-auto{
    margin-left: auto!important;
    margin-right: 0px !important;
}
.space-left-right{
    padding: 0px 50px;
}
.navbar-expand-md .navbar-nav .nav-link{
    font-size: 20px;
    line-height: 26px;
    font-style: normal;
    font-weight: 400;
    padding: 52px 28px;
    height: 100%;
    display: inline-flex;
    align-items: center;
    position: relative;
}
.contact-button-header{
    height: 100%;
    display: inline-flex;
    align-items: center;
}
.navbar-expand-md .navbar-nav .nav-link:hover:before{
    content: "";
    height: 5px;
    border-radius: 20px;
    background-color: #E3B648;
    position: absolute;
    bottom: 0px;
    width: 100%;
    left: 0;
    right: 0;
    margin: auto;
}
.spaceleft-right{
    padding: 0px 60px;
}
header{
    background-color: #000000;
}
.btn{
    background-color: #E2B64B;
    background: rgb(252,158,8);
    background: linear-gradient(177deg, rgba(252,158,8,1) 0%, rgba(227,182,72,1) 100%);
    color: #000000;
    font-weight: 500;
    border-radius: 100px;
    font-size: 18px;
    line-height: 18px;
    padding: 20px 30px;
    letter-spacing: 1px;
}
.btn:hover{
    background-color: #ffffff;
    color: #000000;
}
.navbar{
    padding: 0px;
    position: relative;
}
.btn.btn-lg.mainbutton{
    margin-left: 25px;
}
.navbar-expand-md .navbar-nav li{
    height: 100%;
}
.banner-section-wrapper{
    background-image: url("../images/banner-bg.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    min-height: 950px;
    margin-top: -2px;
}
.banner-section-wrapper h1{
    color: #E3B648;
    font-size: 120px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
}
.banner-section-wrapper h4{
    color: #ffffff;
    text-align: center;
    font-size: 46px;
    font-family: "Michroma", serif;
}
.banner-footer{
    background-color: rgba(0, 0, 0, 0.8);
    padding: 30px 0px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: auto;
}
.banner-footer-text p{
    font-size: 16px;
    line-height: 18px;
    color: #F2F2F2;
    margin: 0px;
}
.banner-footer-info p{
    font-size: 16px;
    color: #F2F2F2;
    margin: 0px;
}
.banner-footer-text h3{
    color: #ffffff;
    font-size: 36px;
    line-height: 38px;
    font-family: "Michroma", serif;
    margin-bottom: 15px;
}
.banner-footer-info h6{
    color: #ffffff;
    font-family: "Michroma", serif;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 10px;
}
.banner-footer-text{
    border-right: 1px solid #ffffff;
    min-height: 90px;
}
.banner-section-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner-footer .col-lg-6 {
    display: flex;
    align-items: center;
}
.banner-footer-button{
    flex-shrink: 0;
}
.banner-footer-button .btn{
    padding: 15px 25px;
}
.marquee-container ul li{
    list-style: none;
    font-family: "Michroma", serif;
    font-size: 48px;
    line-height: 50px;
    color: #E3B648;
    text-transform: uppercase;
    font-weight: 400;
    margin-right: 80px;
}
.marquee-container ul li i{
    margin-right: 20px;
}
.marquee-container ul{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
    margin: 0px;
}
.marquee-container{
    border-top: 2px solid #E3B648;
    border-bottom: 2px solid #E3B648;
}
.marquee-container{
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    background: #ffffff;
    padding: 40px 0;
}

.marquee-wrapper {
    display: flex;
    width: max-content;
    animation: marquee 10s linear infinite;
}

.marquee-content {
    display: flex;
    align-items: center;
    gap: 50px; /* Adjust spacing */
}

.marquee-content ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 50px;
}

.marquee-content li {
    display: flex;
    align-items: center;
    font-size: 18px;
}

.marquee-content img {
    height: 30px;
    margin-right: 10px;
}

/* Animation */
@keyframes marquee {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

.section-title{
    text-align: center;
}
.section-title span{
    font-size: 14px;
    line-height: 14px;
    color: #E3B648;
    font-weight: 700;
    border: 1px solid #E3B648;
    padding: 10px 20px;
    border-radius: 50px;
    letter-spacing: 1px;
    display: inline-block;
}
.section-title h2{
    font-size: 48px;
    color: #1D1D1D;
    letter-spacing: 2px;
    font-family: "Michroma", serif;
    margin: 20px 0px;
}
.space-top-bottom-100{
    padding: 100px 0px;
}
.space-top-100{
    padding-top: 100px;
}
.club-environments-section .owl-carousel .owl-dots.disabled,.club-environments-section .owl-carousel .owl-nav.disabled{
    display: block;
}
.club-environments-section .owl-carousel .owl-nav button.owl-next,.club-environments-section .owl-carousel .owl-nav button.owl-prev{
    width: 48px;
    height: 48px;
    background: rgb(252,158,8);
    background: linear-gradient(90deg, rgba(252,158,8,1) 0%, rgba(227,182,72,1) 100%);
    border-radius: 100px;
    font-size: 0px;
}
.club-environments-section .owl-carousel .owl-nav button.owl-next{
    position: absolute;
    left: -60px;
    right: auto;
    top: 0;
    bottom: 0;
    margin: auto;
}
.club-environments-section .owl-carousel .owl-nav button.owl-prev{
    position: absolute;
    left: auto;
    right: -60px;
    top: 0;
    bottom: 0;
    margin: auto;
}
.club-environments-section .owl-carousel .owl-nav button.owl-next span{
    background-image: url("../images/arr-left.png");
    display: inline-block;
    width: 12px;
    height: 20px;
}
.club-environments-section .owl-carousel .owl-nav button.owl-prev span{
    background-image: url("../images/arr-right.png");
    display: inline-block;
    width: 12px;
    height: 20px;
}
.club-environments-section .owl-carousel .owl-dots span, .overall-strength-movement-section .owl-carousel .owl-dots span{
    width: 10px;
    height: 10px;
    background-color: #9C9C9C;
    display: inline-block;
    border-radius: 10px;
    margin: 0px 3px;
}

.club-environments-section .owl-carousel .owl-dots, .overall-strength-movement-section .owl-carousel .owl-dots{
    text-align: center;
    margin-top: 20px;
}
.club-environments-section .owl-carousel .owl-dot.active span ,.overall-strength-movement-section .owl-carousel .owl-dot.active span{
    background-color: #E3B648;
}
.overall-strength-movement-section .owl-carousel .owl-dots span
.club-environments-section a{
    background-color: #ffffff;
    padding: 5px 10px;
    font-size: 13px;
    line-height: 13px;
}
.club-environments-content{
    background-color: #000000;
    background-color: rgb(0, 0, 0, 0.8);
    padding: 20px 20px;
}
.club-environments-section .owl-carousel .item:hover .club-environments-content{
     background-color: #FC9E08;
    background-color: rgb(252, 158, 8, 0.8);
    bottom: 0px;
}
.club-environments-section .owl-carousel .item .club-environments-content p{
    display: none;
}
.club-environments-section .owl-carousel .item:hover .club-environments-content p{
    display: block;
}
.club-environments-section .owl-carousel .item a.btn{
    background:#ffffff;
}
.club-environments-section .owl-carousel .item:hover a.btn{
    display: inline-block;
    background:#ffffff;
    color: #000000;
}
.club-environments-section .owl-carousel .item a.btn:hover{
    background:#000000;
    color: #ffffff;
}
.club-environments-section .owl-carousel .item{
    position: relative;
}
.club-environments-section .owl-carousel .item .club-environments-content{
    position: absolute;
    bottom: 0px;
    transition: all 0.3s ease-in-out 0s;
    width: 100%;
}
.club-environments-content p{
    color: #F2F2F2;
    font-size: 16px;
    line-height: 22px;
    display: none;
}
.club-environments-section a{
    display: none;
}
.club-environments-content h5{
    font-family: "Michroma", serif;
    color: #F2F2F2;
    font-size: 20px;
    line-height: 28px;
    padding-bottom: 0px;
}
.overall-strength-movement-section .btn{
    color: #ffffff;
    padding: 14px 40px;
    font-size: 16px;
    width: 221px;
    margin-top: 20px;
}
.overall-strength-movement-section .section-title{
    text-align: left;
}
.list-style ul{
    margin: 0px;
    padding: 0px;
}
ul.list-style li::marker{
    color: #E3B648 !important;
}
ul.list-style li{
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
}
.accordion-button:focus{
    border-color: 0px;
    box-shadow: none;
}
.padding-botom-100{
    padding-bottom: 100px;
}
.accordian-section-wrapper .accordion-item{
    border-radius: 0px;
}
.accordian-section-wrapper .accordion-button:after{
    display: none;
}
.accordian-section-wrapper .accordion-item{
    background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)), url("../images/build-muscle.jpg");
    background-size: cover;
    transition: all 0.3s ease-in-out 0s;
    padding: 30px 0px;
}
.accordian-section-wrapper .accordion-item.accordion-item-open{
    background: linear-gradient(rgba(227,182,72,.8), rgba(252,158,8,.8)), url("../images/build-muscle.jpg");
    background-size: cover;
}
.accordian-section-wrapper .accordion-item:hover{
    background: linear-gradient(rgba(227,182,72,.8), rgba(252,158,8,.8)), url("../images/build-muscle.jpg");
}
.accordian-section-wrapper .accordion-item .btn{
    color: #000000;
    background: #FFFFFF;
    padding: 15px 40px;
}
.accordian-section-wrapper .accordion-item .btn:hover{
    color: #ffffff;
    background: #000000;
}
.accordian-section-wrapper .accordion-content{
    padding-bottom: 60px;
}
.accordian-section-wrapper .accordion-content p{
    color: #ffffff;
}
.accordian-section-wrapper .accordion-item.open-gym-accordion{
    background-size: cover;
}
.accordian-section-wrapper .accordion-button:not(.collapsed){
    background-color: transparent;
    box-shadow: none;
}
.accordian-section-wrapper .accordion-button{
    font-family: "Michroma", serif;
    font-size: 48px;
    background-color: transparent;
    color: #ffffff;
}
.video-trainers-section-wrapper .video-wrapper{
    position: relative;
    width: 100%;
    max-width: 100%; /* Adjust as needed */
    margin: auto;
}
.video-trainers-section-wrapper .video-thumbnail{
    width: 100%;
    display: block;
}
.video-trainers-section-wrapper .play-button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    background-color: rgba(255, 165, 0, 0.8);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.video-trainers-section-wrapper .play-button::before{
    content: "";
    width: 0;
    height: 0;
    border-left: 20px solid white;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
}
.video-trainers-section-wrapper .video-container{
    display: none;
    width: 100%;
    height: 450px; /* Adjust as needed */
}
.video-trainers-section-wrapper iframe{
    width: 100%;
    height: 100%;
    border: none;
}
.club-environments-section .owl-carousel .item .club-environments-content .btn{
    font-size: 12px;
    line-height: 12px;
    padding: 8px 20px;
}
.video-trainers-section-wrapper{
    position: relative;
}
.video-trainers-section-wrapper:before{
    content: "";
    background-color:#1D1D1D;
    width: 100%;
    height: 50%;
    position: absolute;
    top: 0px;
    bottom: 0px;
    margin: auto;
    z-index: -1;
}
.video-trainers-section-wrapper .section-title h2{
    color: #E3B648;
}
.video-trainers-section-wrapper .section-title span{
    background-color: #ffffff;
}
.testimonial-box i{
    width: 51px;
    height: 38px;
    display: inline-block;
    position: absolute;
    top: -20px;
}
.testimonial-box{
    background-color: #F2F2F2;
    padding: 40px;
    position: relative;
}
.testimonail-section-wrapper .owl-stage-outer{
    padding: 25px 0px 0px;
}
.testimonail-section-wrapper .testimonial-box hr{
    width: 66px;
}
.testimonail-section-wrapper .testimonial-box h6{
    font-size: 20px;
    color: #141414;
    font-family: "Michroma", serif;
}
.testimonail-section-wrapper .testimonial-box span{
    color: #656565;
    text-transform: uppercase;
    font-weight: 500;
}
.popular-plans-section{
    background-image: url("../images/popular-plans.jpg");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: top center;
}
.space-bottom-100{
    padding-bottom: 100px;
}
.popular-plans-section .section-title h2{
    color:#E3B648;
}   
.popular-plans-section .section-title span{
    background-color: #ffffff;
}
.popular-plans-section .nav.nav-tabs{
    border: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.popular-plans-section .nav.nav-tabs .nav-item .nav-link{
   text-transform: uppercase; 
   color: #ffff;
   background: transparent;
   border: 0px;
}
.popular-plans-section .nav.nav-tabs .nav-item .nav-link.active{
    color: #E3B648;
    border-bottom: 3px solid #E3B648;
}
.plan-box{
    border-radius: 4px;
    border: 1px solid #3e3e3e;
    background-color:rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    text-align: center;
    padding: 40px 20px 20px;
}
.plan-box h6{
    color: #9C9C9C;
    font-size: 18px;
    font-family: "Michroma", serif;
    text-transform: uppercase;
}
.plan-box h2{
    color: #FFFFFF;
    font-family: "Michroma", serif;
    font-size: 44px;
    margin: 12px 0px;
}
.plan-box span{
    color: #E3B648;
    font-size: 12px;
    display: block;
}
.plan-box .btn{
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 14px 20px;
    width: 100%;
    margin: 20px 0px;
}
ul.plan-list-style{
    margin: 0px;
    padding: 0px;
    text-align: left;
}
ul.plan-list-style li{
    list-style: none;
    color: #ffffff;
    display: flex;
}
ul.plan-list-style li p{
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 12px;
}
ul.plan-list-style li i{
    color: #E3B648;
    margin-right: 10px;
}
.additional{
    color: #fff;
    text-align: left;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 0px;
    margin-top: 30px;
}
.power-and-dynamic-footer{
    text-align: center;
    margin-top: 60px;
}
.power-and-dynamic-footer .btn{
    padding: 15px 40px;
    color: #ffffff;
}
.power-and-dynamic-footer .btn{
    padding: 13px 80px;
    color: #ffffff;
    margin-top: 10px;
}
.footer-title-description h3{
    color: #E3B648;
    font-family: "Michroma", serif;
    font-size: 26px;
}
.footer-title-description a,.footer-title-description h6,.footer-title-description p{
    color: #303030;
    font-size: 16px;
    line-height: 18px;
    margin: 0px;
    text-decoration: none;
}
.footer-title-description{
    margin-bottom: 60px;
}
.footer-title-description ul li{
    list-style: none;
    display: inline-block;
    margin-right: 15px;
}
.footer-title-description ul{
    margin: 0px;
    padding: 0px;
}
.social-icons li a{
    font-size: 22px;
}
.footer-title-description .social-icons{
    margin-top: 15px;
}
.footer-social-icons h6{
    text-decoration: underline;
}
.footer-title-description.footer-social-icons{
    margin-bottom: 0px;
}
.map-wrapper iframe{ 
    width: 100%;
    height: 100%;
}
.map-wrapper{
    height: 100%;
}
.black-color-footer{
    background-color: #1D1D1D;
    position: relative;
    background-image: url("../images/footer-bg.jpg");
    background-size: cover;
}
.footer-links ul.list-style li a{
    text-decoration: none;
    color: #ffffff;
}
.footer-links ul.list-style li a:hover{
    color: #E3B648;
}
.footer-links ul.list-style{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
.footer-logo{
    margin-bottom: 60px;
}
.black-footer-social .social-icons{
    padding: 0px;
    margin: 0px;
    text-align: right;
}
.black-footer-social .social-icons li a i{
    color: #E3B648;
}
.black-footer-social .social-icons li{
    display: inline-block;
    margin-right: 30px;
}
.copyright-text{
    color: #ffffff;
    font-size: 12px;
    text-align: right;
    position: absolute;
    right: 0;
    bottom: 0;
}
.black-color-footer .col-md-7{
    position: relative;
}
.space-bottom-50{
    padding-bottom: 50px;
}
.black-footer-social-wrapper{
    position: relative;
}
.feeds-section{
    text-align: center;
}
.feeds-section.club-environments-section .owl-nav{
    display:none;
}

 /* about */
 
 .aboutbg2 {
    background-image: url(../images/aboutpagebackground.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 400px;
    margin-top: -2px;
 
 }
 .heaname h2 {
    font-family: 'Space Grotesk';
    font-size: 70px;
    color: #fff;
    text-transform: capitalize;
    font-weight: 900;
    text-align: center;
    padding-top: 80px;
 }
 .marrabout {
    background-color: #030303;
    padding: 0px 100px 60px 100px;
    margin-top: -10px;
 }
 .secabouttext h3 {
    font-family: 'Michroma';
    font-size: 25px;
    color: #fff;
    text-transform: uppercase;
 }
 .secabouttext p {
    color: #fff;
    font-family: "Space Grotesk";
    font-size: 20px;
 }
 .secvisbgg {
    background-color: #25201B;
    padding: 50px 100px;
    margin-top: -3px;
 }
 .secvisintext {
    font-family: 'Michroma';
    font-size: 60px;
    color: #fff;
    font-weight: 700;
 }
 .secvisintext2 {
    color: #fff;
    font-family: "Space Grotesk";
    font-size: 20px;
 }
 .foundd-bgg {
    background-color: #000;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 100px;
 }
 .foundd-bgg2{
    background-image: url(../images/Founderbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0px;
 }
 .flodbackmargin {
    background: #000;
    padding: 40px;
    margin-left: -100px !important;
    margin: 60px 40px 40px 40px;
 }
 
  .feedback-slider-item:after {
    content: '';
    position: absolute;
    background-image: url(../images/Testimonials.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 1150px;
    left: 20px;
    right: 20px;
    bottom: 0;
    top: 345px;
    z-index: -1;
  }
  
  .thumb-prev,
  .thumb-next {
    position: absolute;
    z-index: 99;
    top: 45%;
    width: 98px;
    height: 98px;
    left: -90px;
    cursor: pointer;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  
  .thumb-next {
    left: auto;
    right: -90px;
  }
  
  .feedback-slider-thumb img {
    width: 100%;
  }
  
  .feedback-slider-thumb:hover {
    opacity: .8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  }
  
  .customer-feedback .owl-nav [class*="owl-"] {
    position: relative;
    display: inline-block;
    bottom: 45px;
    transition: all .2s ease-in;
  }
  
  .customer-feedback .owl-nav i {
    background-color: transparent;
    color: rgb(251, 90, 13);
    font-size: 25px;
  }
  
  .customer-feedback .owl-prev {
    left: -15px;
  }
  
  .customer-feedback .owl-prev:hover {
    left: -20px;
  }
  
  .customer-feedback .owl-next {
    right: -15px;
  }
  
  .customer-feedback .owl-next:hover {
    right: -20px;
  }
  .navbar {
    margin: 0;
} 

/* Gallery Styles */
.gallery_container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 10px;
 }
 
 
 .gallery_item {
    margin-bottom: 5px;
    overflow: hidden;
 }
 
 .popup-gallery a {
    display: block;
    width: 100%;
    border: 1px solid #fff;
    overflow: hidden;
    transition: transform 0.3s ease, border-color 0.3s ease;
 }
 
 .popup-gallery a:hover {
    transform: scale(1.05);
    border-color: #fff;
 }
 
 .popup-gallery img {
    display: block;
    width: 100%;
    object-fit: cover;
    min-height: 250px;
    max-height: 250px;
 }
 
 
 /* END  */
 
 .singicon_btn_nlf {
    position: absolute;
    top: 44%;
    bottom: 56%;
    left: 44%;
    right: 56%;
    opacity: 0;
 }
 
 .singicon_btn_nlf svg {
    color: #fff;
 }
 
 .popup-gallery a:hover .singicon_btn_nlf {
    opacity: 1;
 }
 
 .hover_affect_nlf:hover img {
    opacity: 0.5;
 }
 
 
 /* gallery end */
 .aboutbg23 {
    background-image: url(../images/aboutpagebackground.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 350px;
    margin-top: -3px;
    margin-bottom: -3px;
 
 }
 .secmemberbg2 {
    background-image: url(../images/memberbgg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 600px;
    margin-top: -2px;
 
 }
 .secmemberbg2w {
    background-image: url(../images/memberbgg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 400px;
    margin-top: -2px;
 
 }

/* member */
.secmemberpp p {
    text-align: center;
    color: #fff;
    font-family: 'Montserrat';
    font-size: 20px;
 }
  

 
 .memversecb{
    margin-top: -350px;
 }
 .blogbgg4 {
    background-color: #191C23;
    padding: 60px;
    margin-top: -150px;
 }
 .secmemberbg {
    background-color: #fff;
    padding: 40px 30px;
 }
 .secmemberbg h2 {
    font-family: 'Michroma';
    font-size: 50px;
    text-align: center;
    color: #000;
    font-weight: 700;
 }
 .secmemberbg h4 {
    color: #F67627;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Space Grotesk';
    text-align: center;
    padding-bottom: 10px;
 }
 .secmemberbg p span {
    color: #F67627;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Space Grotesk';
 }
 .secmemberbg p {
    color: #000;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Space Grotesk';
 }
 .secptagemember {
    padding: 20px 0px 60px 0px;
 }
 .secmemberbtn {
    text-align: center;
    padding-bottom: 30px;
 }
 .secmemberbtn a {
    background-color: #E2B64B;
    background: rgb(252, 158, 8);
    background: linear-gradient(177deg, rgba(252, 158, 8, 1) 0%, rgba(227, 182, 72, 1) 100%);
    padding: 15px 30px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Space Grotesk';
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 10px;
 }
 .secmemberbtn a:hover {
    background-color: #E2B64B;
    background: rgb(252, 158, 8);
    background: linear-gradient(177deg, rgba(252, 158, 8, 1) 0%, rgba(227, 182, 72, 1) 100%);
 }

 
/* contact us */


.secandclass22{
    background-color: #000;
    padding-bottom: 50px;
    padding-top: 40px;
    margin-top: -2px;
 }
 
 .sec-cont-hh {
    font-family: 'Michroma';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #fff;
 }
 .sec-cont-pp {
    font-family: 'Space Grotesk';
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    padding-bottom: 20px;
 }
 .form-group label {
    color: #fff;
 }
 .sec-menu-btn2 {
    background-color: #E2B64B;
    background: rgb(252, 158, 8);
    background: linear-gradient(177deg, rgba(252, 158, 8, 1) 0%, rgba(227, 182, 72, 1) 100%);
    font-family: 'Space Grotesk';
    font-style: normal;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    padding: 15px 30px;
    border: none;
 }
 .sec-menu-btn2:hover {
    background-color: #E2B64B;
    background: rgb(252, 158, 8);
    background: linear-gradient(177deg, rgba(252, 158, 8, 1) 0%, rgba(227, 182, 72, 1) 100%);
    color: #fff;
 }
 .contbgg {
    background: #fff;
    padding: 20px;
 }
 .seccont-add-h {
    font-family: 'Space Grotesk';
    font-size: 20px;
    line-height: 150%;
    font-weight: 700;
    color: #000000;
 }
 .seccont-add-h span i {
    color: #E2B64B;
 }
 .seccont-add-p {
    font-family: 'Space Grotesk';
    font-weight: 400;
    font-size: 18px;
    color: #000000;
    text-decoration: none;
 }
 .iconsc span i {
    color: #E2B64B;
 }
 .sec-cont-hh2 {
    font-family: 'Michroma';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    color: #000;
 }
 .secmobileenjoy {
    display: none;
 }
 .ffgggcc {
    padding: 0;
 }
 .ffgggcc2{
    padding-right: 0px;
 }
@media only screen and (min-width:1920px){

    .container-fluid {
        width: 1905px;
        margin: auto;
      }
      .secmemberbg2w {
        background-position: top;
        height: 267px;
      }
    .banner-section-wrapper h1{
        font-size: 150px;
    }
    .banner-section-wrapper h4{
        font-size: 56px;
    }
}
@media only screen and (max-width:1440px){

    .spaceleft-right{
        padding: 0px 15px;
    }
    /* .club-environments-section .owl-carousel .owl-nav button.owl-prev{
        right: 5px;
    }
    .club-environments-section .owl-carousel .owl-nav button.owl-next{
        left: 5px;
    } */
}
@media only screen and (max-width:1199px){

    .plan-box h6{
        font-size: 16px;
    }
    .navbar-expand-md .navbar-nav .nav-link{
        font-size: 18px;
        padding: 40px 15px;
        text-align: center;
    }
    .banner-section-wrapper{
        min-height: 700px;
    }
    .banner-section-wrapper h1{
        font-size: 100px;
    }
    .banner-footer-text h3{
        font-size: 33px;
    }
    .banner-footer-info h6{
        font-size: 16px;
    }
    .banner-footer-info{
        padding-right: 10px;
    }
    .plan-box h2{
        font-size: 32px;
    }
    .plan-box .btn{
        padding: 14px 15px;
    }
    ul.plan-list-style li p{
        font-size: 14px;
        line-height: 20px;
    }
    .club-environments-content h5{
        font-size: 18px;
        line-height: 26px;
    }
}
@media only screen and (max-width:1024px){

    .navbar-brand{
        width: 250px;
    }
    .navbar-expand-md .navbar-nav .nav-link{
        font-size: 16px;
        line-height: 22px;
    }
    .btn.btn-lg.mainbutton{
        padding: 15px 20px;
        font-size: 16px;
    }
    .banner-section-wrapper h4{
        font-size: 36px;
    }
    .banner-section-wrapper h1{
        font-size: 80px;
    }
}
@media only screen and (max-width:991px){

    .footer-links ul.list-style{
        padding-left: 15px;
    }
    .nav-item.contact-button-header{
        display: none;
    }
    .navbar-brand {
        width: 200px;
    }
    .navbar-expand-md .navbar-nav .nav-link{
        padding: 30px 15px;
    }
    .banner-footer .col-lg-6.col-md-12{
        margin-top: 30px;
    }
    .banner-footer-text.unit-of-sports{
        border-right: 0px;
    }
    .banner-footer-text h3{
        font-size: 28px;
        margin-bottom: 10px;
    }
    .section-title h2{
        font-size: 40px;
    }
    .club-environments-content{
        padding: 20px 10px;
    }
    .club-environments-content h5{
        font-size: 15px;
        line-height: 20px;
    }
    .space-top-bottom-100 {
        padding: 70px 0px;
    }
    .accordian-section-wrapper .accordion-button{
        font-size: 38px;
    }
    .overall-strength-movement-section .owl-two{
        margin-top: 40px;
    }
    .plan-box{
        margin-bottom: 30px;
    }
    .black-footer-social .social-icons{
        text-align: left;
    }
    .copyright-text{
        position: static;
        text-align: left;
        margin-top: 20px;
    }
    .footer-links ul.list-style {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 20px;
    }
    ul.list-style li{
        margin-right: 40px;
    }
    .marquee-container ul li{
        font-size: 38px;
    }
    .owl-nav {
        display: none;
    }
    .text-left {
        padding-bottom: 80px;
    }
    .secmemberbg {
        margin-bottom: 50px;
    }
    .owl-nav.disabled {
        display: none !important;
    }
    .secabbdesfl {
        display: flex;
        flex-direction: column-reverse;
    }
    .secabouttext {
        padding-top: 40px;
    }
    .marrabout {
        padding: 0px 60px 60px 60px;
    
    }
    .secvisbgg {
        padding: 60px 60px;
    }
}
@media only screen and (max-width:767px){

    .navbar .align-items-stretch{
        align-items: center !important;
    }
    .navbar-toggler{
    background-color: #E2B64B;
    background: rgb(252,158,8);
    background: linear-gradient(177deg, rgba(252,158,8,1) 0%, rgba(227,182,72,1) 100%);
    color: #000000;
    font-weight: 500;
    }
    .navbar-expand-md .navbar-nav .nav-link {
        padding: 10px 15px;
    }
    .banner-section-wrapper{
        flex-direction: column;
    }
    .banner-section-wrapper h1{
        font-size: 60px;
    }
    .banner-section-wrapper h4{
        font-size: 26px;
    }
    .marquee-container ul li{
        font-size: 28px;
    }
    .marquee-container{
        padding: 25px 0px;
    }
    .section-title h2 {
        font-size: 30px;
    }
    .accordion-img{
        margin-bottom: 20px;
    }
    .accordian-section-wrapper .accordion-button {
        font-size: 30px;
    }
    .popular-plans-section .nav.nav-tabs .nav-item .nav-link{
        margin-bottom: 20px;
    }
    .power-and-dynamic-footer{
        margin-top: 20px;
        padding: 0px 20px;
    }
    .footer-secton-wrapper.space-top-100{
        padding-top: 50px;
    }
    .footer-title-description h3{
        font-size: 23px;
    }
    .footer-title-description {
        margin-bottom: 40px;
    }
    .footer-title-description.footer-social-icons {
        margin-bottom: 20px;
    }
    .overall-strength-movement-section.padding-botom-100{
        padding-bottom: 60px;
    }
    .banner-section-wrapper h1{
        font-size: 50px;
    }
    .video-trainers-section-wrapper .container.space-top-100{
        padding-top: 50px;
    }
    .additional{
        margin-top: 20px;
    }
    .club-environments-content p{
        margin-bottom: 5px;
    }
    .club-environments-content h5{
        margin-bottom: 5px;
    }
    .owl-prev {
        display: none;
    }
    .aboutbg2 {
        margin-top: -2px;
    }
    .marrabout {
        padding: 40px 10px;
        margin-top: -112px;
    }
    .secabbdesfl {
        display: flex;
        flex-direction: column-reverse;
    }
    .secabouttext {
        padding-top: 20px;
    }
    .secvisbgg {
        padding: 40px 10px;
    }
    .secvisintext {
        font-size: 40px;
    }
    .ffgggcc2 {
        padding-right: 0px;
        padding-left: 0;
    }
    .text-left {
        padding-bottom: 50px;
    }
    .blogbgg4 {
        padding: 0px;
    }
    .secmemberbg {
        margin-bottom: 30px;
    }
}
@media only screen and (max-width:575px){

    
    .club-environments-section .owl-carousel .owl-nav button.owl-next, .club-environments-section .owl-carousel .owl-nav button.owl-prev {
        width: 40px;
        height: 40px;
    }
    .power-and-dynamic-footer .btn{
        padding: 13px 20px;
    }
    .footer-links ul.list-style{
        margin-bottom: 20px;
        flex-direction: column;
        align-items: center;
        padding: 0px;
    }
    .banner-footer-text{
        min-height: 70px;
    }
    .banner-footer-text h3{
        margin-bottom: 5px;
    }
    .banner-footer-text p{
        font-size: 12px;
        line-height: 16px;
        margin-right: 10px;
    }
    .banner-section-wrapper h4{
        font-size: 20px;
    }
    .banner-footer-text h3{
        font-size: 22px;
        line-height: 30px;
    }
    .black-color-footer.space-top-100.space-bottom-50{
        padding-top: 60px;
    }
    .black-color-footer{
        text-align: center;
    }
    .footer-links ul.list-style{
        justify-content: center;
    }
    .black-footer-social .social-icons{
        text-align: center;
    }
    .copyright-text{
        text-align: center;
    }
    .footer-secton-wrapper .container.space-bottom-100{
        padding-bottom: 40px;
    }
    .banner-section-wrapper h1{
        font-size: 34px;
    }
    .banner-footer .col-lg-6{
        flex-direction: column;
    }
    .banner-footer-info h6{
        text-align: center;
    }
    .banner-footer-info p{
        text-align: center;
        margin-bottom: 20px;
    }
    .banner-footer-info p{
        font-size: 14px;
    }
    .banner-section-wrapper{
        justify-content: flex-start;
        padding-top: 100px;
    }
    .banner-footer-info h6{
        font-size: 15px;
    }
    .banner-section-wrapper{
        min-height: 620px;
    }
    .banner-footer-button .btn{
        padding: 13px 25px;
        font-size: 16px;
    }
    .marquee-container ul li{
        font-size: 22px;
        line-height: 30px;
    }
    .space-top-bottom-100 {
        padding: 60px 0px;
    }
    .section-title h2 {
        font-size: 25px;
    }
    ul.list-style li{
        margin-right: 0px;
    }
    .accordian-section-wrapper .accordion-button{
        font-size: 20px;
        line-height: 30px;
    }
    .footer-logo{
        margin-bottom: 20px;
    }
    .black-color-footer.space-top-100.space-bottom-50{
        padding-top: 40px;
        padding-bottom: 20px;
    }
    .popular-plans-section .nav.nav-tabs .nav-item .nav-link{
        margin-bottom: 10px;
    }
    .footer-title-description{
        margin-bottom: 30px;
    }
    .footer-title-description h3{
        font-size: 20px;
    }
    .testimonial-box{
        padding: 35px;
    }
    .video-trainers-section-wrapper .video-container{
        height: 250px;
    }
    .navbar-brand{
        width: 150px;
    }
}